In [2]:
#Import the dependencies.

import pandas as pd
import gmaps
import requests

#Import the API key.
from config import g_key

In [3]:
#Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-09-23 19:48:17,-33.5906,26.8910,60.19,82,100,3.00
1,1,Ushuaia,AR,2022-09-23 19:48:18,-54.8000,-68.3000,53.26,40,40,10.36
2,2,Hilo,US,2022-09-23 19:48:18,19.7297,-155.0900,86.29,74,0,7.00
3,3,Saurimo,AO,2022-09-23 19:48:19,-9.6608,20.3916,76.17,42,79,1.88
4,4,Atuona,PF,2022-09-23 19:48:19,-9.8000,-139.0333,76.03,81,18,14.34

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
#Heatmap of temperature

#Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=50, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# User Input

In [19]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [20]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-09-23 19:48:17,-33.5906,26.8910,60.19,82,100,3.00
1,1,Ushuaia,AR,2022-09-23 19:48:18,-54.8000,-68.3000,53.26,40,40,10.36
6,6,Airai,TL,2022-09-23 19:48:20,-8.9266,125.4092,60.67,52,90,2.84
8,8,Esperance,AU,2022-09-23 19:45:39,-33.8667,121.9000,56.86,75,57,11.41
9,9,Yellowknife,CA,2022-09-23 19:45:13,62.4560,-114.3525,57.72,51,20,11.50
10,10,Chuy,UY,2022-09-23 19:47:55,-33.6971,-53.4616,57.16,54,2,10.65
13,13,Busselton,AU,2022-09-23 19:48:22,-33.6500,115.3333,51.64,88,100,12.39
14,14,Den Helder,NL,2022-09-23 19:43:33,52.9599,4.7593,58.98,95,100,6.91
15,15,Nemuro,JP,2022-09-23 19:48:22,43.3236,145.5750,66.69,94,100,24.09
21,21,Rocha,UY,2022-09-23 19:48:24,-34.4833,-54.3333,56.68,58,3,9.57

In [21]:
#Determine null values.
preferred_cities_df.count()

City_ID       179
City          179
Country       177
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [23]:
#Drop null values
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-09-23 19:48:17,-33.5906,26.8910,60.19,82,100,3.00
1,1,Ushuaia,AR,2022-09-23 19:48:18,-54.8000,-68.3000,53.26,40,40,10.36
6,6,Airai,TL,2022-09-23 19:48:20,-8.9266,125.4092,60.67,52,90,2.84
8,8,Esperance,AU,2022-09-23 19:45:39,-33.8667,121.9000,56.86,75,57,11.41
9,9,Yellowknife,CA,2022-09-23 19:45:13,62.4560,-114.3525,57.72,51,20,11.50
...,...,...,...,...,...,...,...,...,...,...
539,539,Walsrode,DE,2022-09-23 20:02:33,52.8667,9.6000,59.18,60,100,2.33
544,544,Lithakia,GR,2022-09-23 20:02:35,37.7167,20.8333,58.37,55,11,5.50
549,549,Knysna,ZA,2022-09-23 20:02:36,-34.0363,23.0471,55.89,70,100,5.06
551,551,Vagur,FO,2022-09-23 20:02:38,61.4732,-6.8119,50.50,78,13,16.04
552,552,Grand Forks,US,2022-09-23 20:02:38,47.9417,-97.4337,62.53,59,100,16.11

In [25]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0   Port Alfred      ZA     60.19 -33.5906   26.8910
1       Ushuaia      AR     53.26 -54.8000  -68.3000
6         Airai      TL     60.67  -8.9266  125.4092
8     Esperance      AU     56.86 -33.8667  121.9000
9   Yellowknife      CA     57.72  62.4560 -114.3525
10         Chuy      UY     57.16 -33.6971  -53.4616
13    Busselton      AU     51.64 -33.6500  115.3333
14   Den Helder      NL     58.98  52.9599    4.7593
15       Nemuro      JP     66.69  43.3236  145.5750
21        Rocha      UY     56.68 -34.4833  -54.3333

In [26]:
#Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [28]:
#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    
    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    
    #Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
#Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))